.register-container {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 150px;
}

.register-container .content {
  width: 90%;
  padding: 96px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-container.light .content {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  background:#f0f0f5;
}

.register-container.dark .content {
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.05);
  background: #222;
}

.register-container .content section {
  width: 100%;
  max-width: 380px;
}

.register-container .content section h1 {
  margin: 56px 0 24px;
  font-size: 24px;
}

.register-container .content section p {
  font-size: 16px;
  color: #737380;
  line-height: 24px;
}

.register-container .content form {
  width: 100%;
  max-width: 450px;
}

.register-container.dark section a {
  color: rgba(255, 255, 255, 0.707)
}

.register-container.light section a {
  color: #41414d;
}

.register-container.dark .content form input {
  margin-top: 8px;
  background-color: #111;
}

.register-container.light .content form input {
  margin-top: 8px;
  background-color: #fff;
}

.register-container .content form .input-group {
  display: flex;
}

.register-container .content form .input-group input + input {
  margin-left: 8px;
}